.aside-blog-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80vw;
  /* width: 100%; */
}

.blog-flexbox {
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

article {
 flex: 1;
}
