/* @import url('style.css'); */
main {
  padding-bottom: 10vh;
}

#about-main {
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.about-title {
  font-size: 41px;
  line-height: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 300;
  color: black;
  margin-bottom: 0;
}

.about-title::before
 {
  content: "\007E" "\0020";
}

.about-title::after {
  content: "\0020" "\007E";
}

.about-hero-wrapper {
  display: flex;
  flex-direction: row;
  height: 80vh;
}

.about-hero-image {
  flex: 2;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

.about-article {
  flex: 1;
  padding: 10%;
  display: flex;
  align-items: center;
}

.about-hero-image:nth-of-type(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("https://res.cloudinary.com/dx6qjxz55/image/upload/v1711201670/store-3_nbd5bi.webp");
  background-position-y: bottom;
}

.about-hero-image:nth-of-type(2){
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("https://res.cloudinary.com/dx6qjxz55/image/upload/v1711201669/store-1_fq5kwv.webp"); 
  background-position: center;
}

.about-hero-image-3{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("https://res.cloudinary.com/dx6qjxz55/image/upload/v1711201669/store-2_fj9snw.webp");
  flex: 2;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  background-position: center;
}

.about-hero-image-4{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("https://res.cloudinary.com/dx6qjxz55/image/upload/v1711201666/about-2_lnj4q2.avif");
  flex: 2;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  background-position: center;
}

.about-hero-text {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-text-color);
}

.about-hero-text h1 {
  font-size: 2.4em;
  letter-spacing: .1em;
  font-weight: 200;
}

.about-article h2 {
  font-size: 2em;
  letter-spacing: .1em;
  margin-bottom: 1.2em;
}

.about-article p {
  line-height: 1.5em;
}

.about-blog-wrapper {
  margin: 0 8%;
  background-color: white;
}