#products-aside {
  align-self: flex-start;
  flex: 1;
  padding: 2em 1em 0;
  color: rgb(0, 0, 0);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow-y: auto;
  
}

#products-aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* dropdown styles */
.filter-group {
  padding-bottom: 20px;
}

.filter-group button {
  font-size: 18px;
  font-weight: 700;
  background-color: white;
  border: none;
  cursor: pointer;
}

.dropbtn {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 0;  
}

.dropdown-content {
  display: none;
  background-color: white;
  min-width: 160px;
}

.show {
  display: block;
}

.myImage {
  height: 22px;
}

.filter-group li {
  font-size: 14px !important;
  font-weight: 400 !important; 
  margin-top: 8px;
}

.filter-submit-button {
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  padding: .6em 1.4em;
  letter-spacing: .03em;
  transition: background-color .12s, color .12s, transform;
}

.filter-submit-button:hover {
  background-color: rgb(29, 29, 29);
  color: var(--main-background-color);
  cursor: pointer;
}

.filter-submit-button:active {
  transform:scale(1.014);
}
