#header {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(11, 11, 11) 95%,
    rgb(21, 21, 21) 100%
  );
  color: var(--main-text-color);
}

.header-nav {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  gap: 3em;
  font-size: 1.1em;
  font-weight: 600;
}

.header-nav a {
  color: var(--main-text-color);
  text-decoration: none;
}

.header-nav a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header-top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.social-links,
.search-cart {
  display: flex;
  align-items: center;
  padding: 18px 30px 0;
}
.search-cart {
  flex: 1;
  justify-content: flex-end;
}

.social-links {
  flex: 1;
}

.social-links a {
  color: white;
}

.social-links a,
.search-cart a {
  text-decoration: none;
  margin-right: 1em;
  color: var(--main-text-color);
}

.social-links button {
  transition: transform 0.4s smooth;
}

.social-links button:hover,
.search-cart button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.search-cart input {
  padding: 6px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 4px;
  min-width: 250px;
}

.cart-icon-button {
  padding: 0.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cartNotifications {
  position: absolute;
  top: 2px;
  right: 12px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 10px;
}

.logo-box {
  flex: 2;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 12px;
}

.logo-box a {
  text-decoration: none;
  color: var(--main-text-color);
  font-size: 3.5rem;
  font-weight: 100;
  font-family: var(--header-font);
}

.logo-box a:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}
